@media screen and (min-width: 800px) {
    nav a {
        display: inline;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    }

    main p {
        text-align: left;
        padding-left: 30px;
    }

    .aboutMe {
        grid-column: 1/3;
        grid-row: 1;
        text-indent: 20px;
    }

    hr {
        display: none;
    }

    .soft-skills {
        grid-column: 1;
        grid-row: 2;
    }

    .hard-skills {
        grid-column: 2;
        grid-row: 2;
    }

    .weaknesses {
        grid-column: 2;
        grid-row: 3;
    }

    .experience {
        grid-column: 1;
        grid-row: 3;
        text-indent: 20px;
    }

    .soft-skills,
    .hard-skills,
    .weaknesses,
    .experience {
        border: outset;
    }

    #menu {
        display: none;
    }
}